html,
body {
	padding: 0;
	margin: 0;
	}

.notepad {
	margin: 40px 10%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	}

.task,
.add-task {
	height: 24px;
	padding: 4px 0;
	position: relative;
	}

.task {
	border-bottom: 1px solid #E8E5BA;
	background: #FFFDE8;
	}

.task:last-child {
	border-bottom: none;
	}

.task .s-input,
.add-task .s-input {
	position: absolute;
	left: 34px;
	right: 64px;
	}

.task .s-input {
	border: none;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

.task.done .s-input {
	text-decoration: line-through;
	color: #888;
	}

.s-button.delete {
	position: absolute;
	right: 20px;
	width: 30px;
	padding-left: 0;
	padding-right: 0;
	}

.s-checkbox.done {
	position: absolute;
	left: 9px;
	top: 6px;
	}

.add-task .s-button {
	position: absolute;
	right: 14px;
	width: 42px;
	font-size: 17px;
	padding: 2px;
	}

.add-task {
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
	background: #fff;
	}

.add-task .s-input {
	background: transparent;
	border: none;
	}

.add-task .s-input:focus {
	-webkit-box-shadow: none;
	}

.task.hover {
	background: #ddd;
	}